// Compass Includes
@import compass/css3/border-radius

// Bootstrap & Vendor Includes
@import app/public/components/sass-bootstrap/lib/bootstrap
@import app/public/components/sass-bootstrap/lib/responsive
@import vendor/bootstrap-datetimepicker-2

// Bootstrap Overrides

.container
	padding: 2em 0

form.no-margin
	margin-bottom: 0

#add
	color: black
