#events.row-fluid
	
	.span9

		#calendar

		%ul#event-list

	.span3

		%a.btn.btn-large.btn-block.btn-primary{:href => "#add", :'data-toggle' => "modal", :role => "button"} Add a New Event

	#add.modal.hide.fade
