#events.row-fluid
	
	.span9

		#calendar.mb-2

		%ul#event-list.event-list.mb-2

	.span3

		%a.btn.btn-large.btn-block.btn-primary{:href => '#add', :'data-toggle' => 'modal', :role => 'button'} Add a New Event

	#add.modal.hide.fade
